// =======================================================
// Form Elements =========================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$input-height: 36px;


// Input Fields ::::::::::::::::::::::::::::::::::::::::::
input[type="text"],
input[type="search"],
textarea {
  padding: 6px;
  height: $input-height;
  border: 2px solid #BBB;
  @include border-radius(4px);
  @include box-sizing(border-box);

  &:focus {
    outline: none;
    border-color: $link-over;
  }
}


// Buttons :::::::::::::::::::::::::::::::::::::::::::::::
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #FFF;
  padding: 6px 12px;
  height: $input-height;
  background: $link-color;
  border: 2px solid transparent;
  border-bottom-color: darken($link-color, 30%);
  @include border-radius(4px);

  &:hover,
  &:focus {
    outline: none;
    background: darken($link-color, 10%);
  }

  &:active {
    background: $link-color;
    border-bottom-color: transparent;
    border-top-color: darken($link-color, 30%);
  }
}

// saturate($color, $amount)
// desaturate($color, $amount)