// =======================================================
// IE styles hacks =======================================
// =======================================================

body {
  background: red;
}

.card {
  border: 1px solid #DDD;
}