/* ELEMENTS ----------------------------------- */
html, body {
  margin: 0;
  height: 100%;
  font-family: Arial;
  font-size: 16px;
  color: #666;
  background: #DDD;
  text-align: center;
}

p {
  margin: 6px 0;
}

a {
  color: #693;
  padding: 2px;
  text-decoration: none;
}

a:hover,
a:focus {
  /*text-decoration: underline;*/
  background: #693;
  color: #FFF;
}


/* CLASSES ----------------------------------- */
.page {
  position: relative;
  height: 100%;
}
.content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  background: url("marcel-martins.jpg") center no-repeat #000;
  border-top: 6px solid #FFF;
  border-bottom: 6px solid #FFF;
  box-shadow: 0 0 10px #999;
}

.title{
  font-size: 0;
}
.under-construct {
  position: relative;
  top: -80px;
  font-size: 26px;
}

.info {
  position: relative;
  bottom: -190px;
}
.info p:first-child{
  /*margin-bottom: 20px;*/
}