// Featured :::::::::::::::::::::::::::::::::::::::::::::::::::
.featured {
  position: relative;
  margin: 10px 0;

  .content-width {
    padding: 20px 0;
  }


}

.featured-content {
  margin: 0 -1%;
}


// Card Small ::::::::::::::::::::::::::::::::::::::::::::::::::
.card-small {
  float: left;
  width: 31%;
  margin: 1%;
  padding: 6px;

  .card-header {
    height: auto;
  }

  .card-title {
    font-size: 28px;
  }

  .card-thumb-link {
    padding-bottom: 100%;
  }
}

@include breakpoint(laptop) {
  .card-small {

    .card-title {
      // font-size: 26px;
    }
  }
}

@include breakpoint(tablet) {
  .card-small {
    width: 47%;
    margin: 1.5%;
    padding: 10px;

    .card-title {
      font-size: 31px;
    }
  }
}

@include breakpoint(mobile) {

  .featured {
    .content-width {
      padding: 10px;
    }
  }

  .card-small {
    width: 100%;
    max-width: 460px;
    margin: 20px auto;
    float: none;

    .card-title {
      margin-top: 15px;
      font-size: 34px;
    }
  }
}