// =======================================================
// Footer Component ======================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$infobar-height: 200px;
$copybar-height: 60px;


// Footer ::::::::::::::::::::::::::::::::::::::::::::::::
.page-footer {
  color: #CCC;
  background: #666;
  letter-spacing: 1.0px;
  font-weight: 300;

  a {
    color: inherit;

    &:hover {
      color: #FFF;
    }
  }

  .current-menu-item {
    a {
      color: #FFF;
      font-weight: 400;
      // text-decoration: underline;
    }
  }

  @include breakpoint(laptop) {
    // font-size: 14px;
  }

  .content-width {}
}



// Footer menu ::::::::::::::::::::::::::::::::::::::::::::
.footer-menu {
  font-size: 16px;
  background: #555;
  border-bottom: 1px solid #444;
}

.footer-nav {
  text-align: center;
  padding: 10px 0 8px;

  @include breakpoint(mobile) {
    padding: 0px;
  }

  .menu-list {
    margin: 0 auto;

    @include breakpoint(mobile) {
      padding: 0px;
    }
  }

  .menu-item {
    display: inline-block;
    padding: 0 20px;
    // border-left: 1px solid #777;

    // &:first-child {
      // border-left: 0;
    // }

    @include breakpoint(tablet) {
      padding: 0 10px;
    }

    @include breakpoint(mobile) {
      display: block;
      // text-align: left;
      padding: 0px;
      border-left: 0;
      border-top: 1px solid #666;

      &:first-child {
        border: 0;
      }
    }
  }

  a {
    display: inline-block;

    @include breakpoint(mobile) {
      display: block;
      padding: 14px;
    }
  }
}


.footer-info {
  font-size: 14px;
  text-align: center;
  padding: 20px 0 30px;

  p {}

  .footer-title {
    font-size: 23px;
  }

  .copyright {
    font-size: 13px;
  }

  .share {
    padding: 10px;
  }
  .fb-like {
    display: inline-block;
    padding: 10px 12px;
    background: #DDD;
    border-radius: 3px;
  }

}
