// =======================================================
// Header Component ======================================
// =======================================================

// Settings ::::::::::::::::::::::::::::::::::::::::::::::
$height: $header-height;
$height-diff: ($height - 4px);
$menu-height: 80px;
$menu-content-height: 56px;

// Logged Bar - fix ::::::::::::::::::::::::::::::::::::::
.logged-in.admin-bar .page-header {
  // top: 32px;
}
html.no-js {
  margin-top: 0px !important;
}
#wpadminbar {
  display: none;
}

// Header ::::::::::::::::::::::::::::::::::::::::::::::::
.page-header {
  @include breakpoint(mobile) {
    position: relative;
  }
}

.header-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFF;
  background: #FFF;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid $link-color;
  z-index: 10;
  padding: 10px 10px;

  @include breakpoint(tablet) {
    padding: 0px;
  }
}


.header-branding {
  float: left;
  width: 200px;
  height: $menu-content-height;

  a {
    // Marcel Martins :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    background: url($image-path + "marcel-martins.png") no-repeat center;
    background-size: 85%;
    // Marcel Martins :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

    // MM Kids ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    // background: url($image-path + "mm-kids2.png") no-repeat center;
    // background-size: 50%;
    // MM Kids ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

    font-size: 0;
    color: transparent;
  }

  @include breakpoint(tablet) {
    width: 100%;
    border-bottom: 1px solid #CCC;
  }

  @include breakpoint(mobile) {
    width: 100%;
    // padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #DDD;
  }

}

.header-title {
  width: 200px;
  height: 100%;
  margin: 0;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  // line-height: $height-diff;

  @include breakpoint(tablet) {
    margin: 0 auto;
    padding-bottom: 8px;
  }

  @include breakpoint(tablet) {
    padding-bottom: 0px;
  }

}

.header-logo {
  display: block;
  height: inherit;
  color: #666;
  font-weight: 600;

  @include breakpoint(laptop) {
    background-size: 80%;
  }
}


.toggle-menu {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 44px;
  height: 44px;
  padding: 0px;
  display: none;
  // border: 1px solid #CCC;
  border: 0;
  background: #FFF;

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
  }

  @include breakpoint(mobile) {
    display: block;
  }

  .icon-menu {
    color: #666;
    font-size: 28px;
  }
}


// Menu :::::::::::::::::::::::::::::::::::::::::::::::::
.main-nav {
  margin-left: 240px;
  @include transition(height .6s ease-in-out);


  @include breakpoint(laptop) {
    margin-left: 210px;
  }
  @include breakpoint(tablet) {
    margin-left: 0px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }


  .menu-list {
    float: right;
    display: table;
    height: $menu-content-height;


    @include breakpoint(tablet) {
      float: none;
      width: 100%;
    }

    @include breakpoint(mobile) {
      text-align: center;
    }
  }


  .menu-item {
    display: table-cell;
    vertical-align: middle;

    @include breakpoint(tablet) {
      display: table-cell;
    }

    @include breakpoint(mobile) {
      display: block;
    }

    a {
      display: block;
      margin: 0px 20px;
      padding: 10px 0px;
      text-align: center;
      color: $menu-color;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @include transition(color .4s ease-in-out);

      &:hover {
        color: $menu-over;
      }

      @include breakpoint(laptop) {
        margin: 0px 10px;
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(mobile) {
        margin: 0;
        padding: 20px;
        text-align: left;
        // font-size: 14px;
      }
    }

    // &.current-menu-parent,
    &.current-menu-item {
      a {
        color: $menu-over;
      }
    }
  }

}


// Submenu ::::::::::::::::::::::::::::::::::::::::::::
.menu-item-has-children {
  .sub-menu {
    display: none;
  }

  .menu-item {
    display: block;
    border-top: 1px solid rgba(#FFF, 0.7);

    a {
      height: 40px;
      line-height: 40px;
      font-size: 16px;

      @include breakpoint(laptop) {
        font-size: 14px;
      }

      @include breakpoint(tablet) {
        font-size: 12px;
      }

    }
  }

  &:hover {
    background: $green;
    @include box-shadow(1px 4px 8px rgba(#000, .2));

    a {
      color: #FFF;
    }

    .sub-menu {
      display: block;

      a {
        color: rgba(#FFF, 0.6);

        &:hover {
          background: $green;
          color: #FFF;
          font-weight: bold;
        }
      }

    }
  }
}
