$nav-width: 100px;
$icon-margin: 6px;

.navigation-component {
  @extend .absolute-full;
  overflow: hidden;
  z-index: 3;
}

.nav-item {
  position: absolute;
  background: rgba(0,0,0,0.2);
  @include transition(background $slide-time);

  &:hover {
    background: rgba(0,0,0,0.5);
  }

  .icon {
    // display: inline-block;
    position: absolute;
    font-size: 120px;
    color: #CCC;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include transition(color $slide-time);
  }
}

.nav-left {
  width: $nav-width;
  height: 100%;
  top: 0;
  left: 0;

  .icon-left {
    margin-top: -20px;
    margin-left: -$icon-margin;
  }
}

.nav-right {
  width: $nav-width;
  height: 100%;
  top: 0;
  right: 0;

  .icon-right {
    margin-top: -20px;
    margin-left: $icon-margin;
  }
}

.nav-down {
  width: 100%;
  height: $nav-width;
  bottom: 0;
  left: 0;
}