// =======================================================
// Global Variables ======================================
// =======================================================

// Page ::::::::::::::::::::::::::::::::::::::::::::::::::
$page-min-width: 720px;
$page-max-width: 1400px;
$page-padding: 20px;
$page-bg: #E6E6E6;


// Colors ::::::::::::::::::::::::::::::::::::::::::::::::
$green: #7CBE39;
$purple: #AA139E;
$dark-purple: #9A6D9E;

$pink: #E91974;
$dark-pink: #C13170;
// $dark-pink: #DB5161;
// $purple:93C;
// gray scale
$dark-gray: #333;
$gray: #666;
$light-gray: #999;
$light: #CCC;


$facebook-color: #3B5998;
$twitter-color: #00ACED;


// Font ::::::::::::::::::::::::::::::::::::::::::::::::::
$font-size: 17px;
$slide-time: .7s;
$text-color: #888;

$link-color: $dark-pink;
$link-over: $pink;


// Breakpoints :::::::::::::::::::::::::::::::::::::::::::
$laptop-max-width: 992px;
$tablet-max-width: 820px;
$mobile-max-width: 640px;


// Header ::::::::::::::::::::::::::::::::::::::::::::::::
$header-height: 60px;
$menu-color: $gray;
$menu-over: $pink;


// Directories :::::::::::::::::::::::::::::::::::::::::::
$theme-path: "../";
$image-path: "../image/";


// Compass Settings ::::::::::::::::::::::::::::::::::::::
// $browser-minimum-versions: ("ie": "9");
// $debug-browser-support: false;
