// =======================================================
// Helpers ===============================================
// =======================================================

// Clearfix :::::::::::::::::::::::::::::::::::::::::::::::
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shadow {
  @include box-shadow(0 2px 8px -2px rgba(#000, .25));
}

.shadow-active {
  @include box-shadow(0px 14px 8px -6px rgba(#000, .15));
}