// =======================================================
// Mixins ================================================
// =======================================================

// Breakpoints :::::::::::::::::::::::::::::::::::::::::::
@mixin breakpoint($point) {

  @if $point == laptop {
    @media (max-width: $laptop-max-width) {
      @content;
    }
  }

  @else if $point == tablet {
    @media (max-width: $tablet-max-width) {
      @content;
    }
  }

  @else if $point == mobile {
    @media (max-width: $mobile-max-width) {
      @content;
    }
  }
}
