// =======================================================
// Reser Browser Elements ================================
// =======================================================


@font-face {
  font-family: 'Nyala-Regular';
  src:
    url('../font/Nyala-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Nyala-Regular.woff') format('woff'),
    url('../font/Nyala-Regular.ttf')  format('truetype'),
    url('../font/Nyala-Regular.svg#Nyala-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Globals :::::::::::::::::::::::::::::::::::::::::::::::
html {
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: 'Nyala-Regular', 'Ubuntu', 'Montserrat', sans-serif;
  color: $text-color;
  font-size: $font-size;
}

body {
  margin: 0;
  background: $page-bg;
  font-size: $font-size;
  line-height: 1.4;
  overflow-x: hidden;
}

* {
  @include box-sizing(border-box);
}


// Links :::::::::::::::::::::::::::::::::::::::::::::::::
a {
  color: $link-color;
  text-decoration: none;
  @include transition(color .4s ease-in);
}

a:focus,
a:hover {
  color: $link-over;
  // color: darken($link-color, 25%);
}

a:focus {
  // outline: thin dotted;
}

a:active,
a:hover,
a:focus {
  outline: 0;
}


// Headers ::::::::::::::::::::::::::::::::::::::::::::::::
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: $font-size * 2;
}

h2 {
  font-size: $font-size * 1.7;
}

h3 {
  font-size: $font-size * 1.4;
}

h4 {
  font-size: $font-size * 1.1;
}

h5 {
  font-size: $font-size * 0.9;
}

h6 {
  font-size: $font-size * 0.7;
}


// Navigarion :::::::::::::::::::::::::::::::::::::::::::::
nav {
  ul {
    margin: 0;
    padding: 0;
  }
}

// Text :::::::::::::::::::::::::::::::::::::::::::::::::::
p {
  margin: 6px 0;
}

// ========================================================
// Print styles ===========================================
// ========================================================
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		// border: 1px solid $text-color;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

}
