// =======================================================
// Structure Configs =====================================
// =======================================================

.display:before {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px 10px;
  background: #FFF;
  font-size: 11px;
  z-index: 20;
  border-radius: 3px;
  @include box-shadow(0 2px 8px rgba(0,0,0,0.3));
}

body {
  padding: 20px;

  @include breakpoint(laptop) {
    // background: #CCC;
    .display:before {
      content: "laptop"
    }
  }

  @include breakpoint(tablet) {
    padding: 10px;
    // background: #AAA;
    .display:before {
      content: "tablet"
    }
  }

  @include breakpoint(mobile) {
    padding: 0px;
    // background: #888;
    .display:before {
      content: "mobile"
    }
  }
}


// Hide edit post when user admin is logged ::::::::::::::
.post-edit-link {
  display: block;
  display: none;
}

// Containers ::::::::::::::::::::::::::::::::::::::::::::
.content-width {
  max-width: $page-max-width;
  // min-width: $page-min-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $page-padding;
  @extend .clearfix;
}

.page-content {
  .content-width {
    padding: $page-padding;
    // background: #FFF;

    @include breakpoint(tablet) {
      padding: 0px;
    }
    @include breakpoint(mobile) {
      // padding: 0px;
    }
  }
}

.page-title {
  font-family: "Great Vibes", sans-serif;
  font-size: 60px;
  text-align: center;
  color: #888;
  margin: 40px 0 0;
  line-height: 50px;
  font-weight: normal;
  text-indent: 20px;

  @include breakpoint(tablet) {
    font-size: 52px;
    // text-indent: 20px;
  }

  @include breakpoint(mobile) {
    font-size: 42px;
    text-indent: 0px;
  }
}

// Home :::::::::::::::::::::::::::::::::::::::::::::::::::::
.home-info {

  .content-width {
    @extend .shadow;
    position: relative;
    top: -10px;
    width: 96%;
    padding: 20px;
    background: #FFF;
    // font-size: 14px;
    // font-weight: 300;
    z-index: 1;
    line-height: 26px;
    border-bottom: 1px solid #DDD;

    b, strong {
      font-weight: 600;
    }

    @include breakpoint(laptop) {
      width: 100%;
      top: 0;
    }
  }

  .share {
    text-align: center;
    padding-top: 10px;

    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 36px;
      line-height: 28px;
      margin: 10px 6px 0;
    }

    .facebook {
      color: $facebook-color;
    }
    .twitter {
      color: $twitter-color;
    }
  }
}


.featured{
  .content-width {
    .page-title {
      text-align: left;

      @include breakpoint(mobile) {
        font-size: 52px;
        text-align: center;
      }
    }
  }
}


//ERROR :::::::::::::::::::::::::::::::::::::::::::::::::::
.page-not-found {
  padding: 80px;
  text-align: center;
  
  h2 {
    font-size: 23px;
  }
}
