
.icon-right:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-instagram2:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */