
// Card ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.card {
  @extend .shadow;
  position: relative;
  width: 90%;
  margin: 10px 5% 30px;
  background: #FFF;
  padding: 12px;

  a {
    color: $light-gray;
    @include transition(color .6s ease-in);

    &:hover {
      color: $link-over;
    }
  }

  &:hover,
  &.hover {
    a {
      color: $link-over;
    }
    img {
      // @include opacity(.9);
      // @include transform(scale(1.0));
    }

  }

  @include breakpoint(mobile) {
    width: 100%;
    margin: 10px 0 30px;
    padding: 8px;
  }
}


.card-thumb {
  width: 100%;
  overflow: hidden;
  // margin: 0 0 10px;
  margin: 0;
  background: #EEE;
}

.card-thumb-link {
  // display: block;
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 42.1%;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // @include opacity(1);
    // @include transform(scale(1.03));
    // @include transition(all .7s ease-in-out);
  }
}

.card-content {
  text-align: center;
  color: $light-gray;
}

.card-header {
  height: 50px;

  @include breakpoint(mobile) {
    height: 38px;
  }
}

.card-title {
  @extend .ellipsis;
  font-family: "Great Vibes", sans-serif;
  font-weight: normal;
  font-size: 38px;
  margin: 15px 0 5px;


  .date {
    font-size: 75%;
  }

  @include breakpoint(tablet) {
    margin: 15px 0 0px;
  }
  @include breakpoint(mobile) {
    font-size: 28px;
    // margin: 10px 0 0;
  }
}

// Hide date
.category-2, // dev
.category-63,
.category-65,
.category-fotos-premiadas,
.category-e-session-l-trash-the-dress {
  .date {
    display: none !important;
  }
}


.card-navigation {
  padding: 40px 0 20px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;

  a {
    margin: 40px;
    font-family: "Great Vibes", sans-serif;
    font-size: 32px;
  }
}
