$carousel-max-width: 2000px;
$carousel-max-height: 800px;

.carousel-slider {
  width: 100%;
}

.carousel {
  max-width: $carousel-max-width;
  max-height: $carousel-max-height;
  margin: 0 auto;
  background: $light;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.owl-controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;

  @include breakpoint(laptop) {
    bottom: 0px;
  }
}

.owl-pagination {
  @include breakpoint(tablet) {
    display: none;
  }
}

.owl-page {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 6px;
  border: 2px solid #DDD;
  background: #999;
  @include border-radius(20px);
  @include box-shadow(1px 3px 5px rgba(#000, .5));

  &.active {
    background: $link-color;
  }
}

/*  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

