.instagram {
  margin: 10px 0 30px;

  .page-title {
    margin-bottom: 10px;
  }
}

.lightwidget-widget {
  @extend .shadow;
  padding: 10px;
  background: #FFF;
}

.user-label {
  font-size: 42px;
}


@include breakpoint(mobile) {
  .user-label {
    font-size: 32px;
  }
}