// Single Content ::::::::::::::::::::::::::::::::::::::::::::::
.single-album {
  .content-width {}
}

.featured-image {
  // height: 500px;
}

.single-full-image {
  // width: 100%;
  // height: 600px;
  overflow: hidden;

  position: relative;
  width: 100%;
  padding-bottom: 40%;
  // float: left;
  height: 0;


  img {
    display: block;
    // width: 100%;
    // height: auto;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.single-album-content {
  @extend .shadow;
  position: relative;
  width: 92%;
  margin: -40px auto 0;
  padding: 20px 30px;
  background: #FFF;
  z-index: 1;

  @include breakpoint(laptop) {
    margin-top: -30px;
    width: 100%;
  }

  @include breakpoint(tablet) {
    margin-top: 0px;
    width: 100%;
  }

  @include breakpoint(mobile) {
    padding: 20px;
  }

  img {
    display: block;
    width: 100%;
    max-width: 950px;
    height: auto;
    margin: 0px auto;
  }

  .share {
    position: absolute;
    top: 18px;
    right: 20px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
    }

    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 36px;
      line-height: 28px;
      margin-left: 6px;
      // @include transition(color .4s ease-in);
    }

    .facebook {
      color: $facebook-color;
    }
    .twitter {
      color: $twitter-color;
    }

  }
}


.single-title {
  font-family: "Great Vibes", sans-serif;
  font-weight: normal;
  margin: 10px 0 20px;

  @include breakpoint(mobile) {
    font-size: 42px;
    text-align: center;
  }

  .title {
    font-size: 54px;

    @include breakpoint(mobile) {
      display: block;
    }
  }

  .date {
    display: inline-block;
    // color: $light-gray;
    font-size: 34px;
    text-indent: 10px;
    // font-style: italic;
    // margin-bottom: 5px;
    // opacity: .7;

    @include breakpoint(mobile) {
      display: block;
      text-indent: 0px;
    }
  }

}

.single-text {
  margin-bottom: 40px;

  p {
    margin-bottom: 30px;
    line-height: 26px;
  }
}


// Single navigation ::::::::::::::::::::::::::::::::::::::::::::
.navigation {
  padding: 40px 0px 20px;
  width: 90%;
  margin: 0 auto;


  h2 {
    display: none;
    // font-family: "Great Vibes", sans-serif;
    // padding: 0 10px;
    // margin-bottom: 10px;
    // color: #999;
    // font-weight: normal;
    // // background: #EEE;
    // border-bottom: 1px solid #CCC;
    // line-height: 26px;
    // font-size: 42px;
  }

  a {
    padding: 0 10px;
    font-size: 32px;
  }
}
.nav-links {
  @extend .clearfix;
  font-family: "Great Vibes", sans-serif;
  // font-size: 36px;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

@include breakpoint(mobile) {
  .nav-previous,
  .nav-next {
    float: none;
    text-align: center;
    margin: 5px 0;
  }

  .nav-previous {
    margin-bottom: 20px;
  }
}
